<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add-Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
         .cl{
          border: 15px ;
          padding: 50px;
          margin: 20px;
          }

    </style>
</head>
<body>
<div th:replace="header :: myHeader"></div>

<div class="container">

    <form th:action="@{/clothes/{id}/edit(id=${clothesEdit.id})}" th:object="${clothesEdit}" method="POST"
          enctype="multipart/form-data">
        <div class="cl">
            <h2 style="font-style:italic" align="center">Edit</h2>
            <div style="display:none">
                <input readonly type="hidden" th:text="*{id}" th:field="*{id}" th:value="*{id}"/>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-2 col-form-label">Title</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{title}">
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-2 col-form-label">Description</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{description}">
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                          class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2 col-form-label">Price</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{price}">
                    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                          class="text-danger"></span>
                </div>
            </div>


            <div class="form-group" style="display:none">
                <input type="date" class="form-control" th:value="${#todayDate}" th:field="*{dateCreated}">
            </div>
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">Price</div>
                <div class="col-sm-10">
                    <input type="file" accept="image/x-png,image/gif,image/jpeg" class="form-control"
                           placeholder="Image"
                           th:field="*{image}">
                    <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">Price</div>
                <div class="col-sm-10">
                    <select >
                        <option th:each="categorySix : ${T(ro.siit.clothes.model.Category).values()}"
                                th:value="${categorySix}" th:text="${categorySix}"></option>
                    </select>

                    <input class="btn btn-danger" type="reset" value="Clear">
                    <input class="btn btn-primary" type="submit" value="Save">
                </div>

            </div>
        </div>
    </form>
</div>

</body>
</html>