<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
<div th:fragment="myHeader">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/clothes">Home</a>
        <a class="navbar-brand" href="/clothes/underwear">Underwear</a>
        <a class="navbar-brand" href="/clothes/shoes">Shoes</a>
        <a class="navbar-brand" href="/clothes/shirt">T-Shirt</a>
        <a class="navbar-brand" href="/clothes/pants">Pants</a>
        <a class="navbar-brand" href="/clothes/blouse">Blouse</a>
        <a class="navbar-brand" href="/clothes/traning">Traning</a>
        <a href="/clothes/add" class="btn btn-primary mr-sm-2" >Add Clothes</a>


    </nav>
</header>
</div>
</body>
</html>